<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>header</title>
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>
<body>

<header class="blog-header py-3" th:fragment="header">
    <!-- start of first row -->
    <div class="row flex-nowrap justify-content-between align-items-center">
        <!-- start of first column in first row -->
        <div class="col">
            <a class="blog-header-logo text-dark" th:href="@{/}">
                <img th:src="@{/images/wfc.jpg}" width="100px" height="100px"/>
            </a>
<!--            <span class="h1 align-middle" th:text="${blogname}"></span>-->
        </div>
    </div>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" th:href="@{/}">Home</a>
            <a class="p-2 text-muted" th:href="@{/benefits}">Employee Benefits</a>
            <div sec:authorize="hasAuthority('major')">
                <a class="p-2 text-muted" th:href="@{/secret}">Secret Recipe</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out">
            </form>
        </nav>
    </div>
</header>

</body>
<html>